# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=jijasbet
DB_USER=postgres
DB_PASSWORD=postgres

# JWT Secret
JWT_SECRET=tu_secret_key_muy_seguro_aqui

# Node
NODE_ENV=production

# Puerto
PORT=5000
